<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="JCXDBContainer" connectionString="metadata=res://*/EMTDB.csdl|res://*/EMTDB.ssdl|res://*/EMTDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.5;initial catalog=EMT0517Test;user id=sa;password=kingdee;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JCXDBContainer1" connectionString="metadata=res://*/JCXDB.csdl|res://*/JCXDB.ssdl|res://*/JCXDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.5;initial catalog=DYJXC;persist security info=True;user id=sa;password=kingdee;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EMTDBContainer" connectionString="metadata=res://*/EMTDB.csdl|res://*/EMTDB.ssdl|res://*/EMTDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.5;initial catalog=EMT0517Test;persist security info=True;user id=sa;password=kingdee;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JXCDBContainer" connectionString="metadata=res://*/JXCDB.csdl|res://*/JXCDB.ssdl|res://*/JXCDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.5;initial catalog=DYJXC;persist security info=True;user id=sa;password=kingdee;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>